[Unit]
Description=Handle PI IO


[Service]
ExecStart=/usr/bin/meetingsdk-sample-angular
Type=simple
Restart=always


[Install]
WantedBy=default.target
